# Transformation Pipeline Server Configuration

# Server settings
PIPELINE_PORT=8000
PIPELINE_HOST=0.0.0.0
DEBUG=true
RELOAD=true
WORKERS=1

# Logging settings
LOG_LEVEL=INFO
LOG_COLORS=true
LOG_TRACEBACKS=true
LOGS_DIR=logs

DATABASE_URL="mssql+pyodbc://test:test@localhost:49172/eto?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes"


DB_CONNECTIONS="orders_db"
ORDERS_DB_CONNECTION_STRING="mssql+pyodbc://test:test@localhost:49172/eto?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes"